<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleStreamTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SimpleStreamTimer.Properties.Settings>
            <setting name="timer_hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timer_mins" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="timer_secs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="show_in_tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filepath" serializeAs="String">
                <value />
            </setting>
            <setting name="show_hours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="use_date" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selected_tab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alarm_time" serializeAs="String">
                <value>2020-08-01</value>
            </setting>
            <setting name="alarm_date" serializeAs="String">
                <value>2020-08-01</value>
            </setting>
        </SimpleStreamTimer.Properties.Settings>
    </userSettings>
</configuration>
